h1{
    font-style: bold;
    text-decoration: double;
    color: crimson;
    size:20px;
}
h2{
    color: cadetblue;
    size: 12px;
}
h3{
    color: chocolate;
}
p{
    text-align: center;
    color: blue;
    text-decoration: dotted yellow;
}